{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" integrity="sha512-CIYsJUa3pr1eoXlZFroEI0mq0UIMUqNouNinjpCkSWo3Bx5NRlQ0OuC6DtEB/bDqUWnzXc1gs2X/g52l36N5iw==" crossorigin="anonymous" /><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.css" integrity="sha512-CIYsJUa3pr1eoXlZFroEI0mq0UIMUqNouNinjpCkSWo3Bx5NRlQ0OuC6DtEB/bDqUWnzXc1gs2X/g52l36N5iw==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="text/css" href="{% static 'images/icon.ico' %}" type="image/icon">
    <link rel="stylesheet" type="text/css" href="{% static "css/aplaycha.css" %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block title %}
    {{section.title}}
    {% endblock %}
    {% block csss %}

    {% endblock csss %}
  </head>
  <body id="body-pd">
    <script>
      const APIController = (function() {
    
      const clientId = 'Your Client Id ';
      const clientSecret = 'Your Client Secret';

      // private methods
      const _getToken = async () => {

          const result = await fetch('https://accounts.spotify.com/api/token', {
              method: 'POST',
              headers: {
                  'Content-Type' : 'application/x-www-form-urlencoded', 
                  'Authorization' : 'Basic ' + btoa( clientId + ':' + clientSecret)
              },
              body: 'grant_type=client_credentials'
          });

          const data = await result.json();
          return data.access_token;
      }
      
      const _getGenres = async (token) => {

          const result = await fetch(`https://api.spotify.com/v1/browse/categories?locale=sv_US`, {
              method: 'GET',
              headers: { 'Authorization' : 'Bearer ' + token}
          });

          const data = await result.json();
          return data.categories.items;
      }

      const _getPlaylistByGenre = async (token, genreId) => {

          const limit = 10;
          
          const result = await fetch(`https://api.spotify.com/v1/browse/categories/${genreId}/playlists?limit=${limit}`, {
              method: 'GET',
              headers: { 'Authorization' : 'Bearer ' + token}
          });

          const data = await result.json();
          return data.playlists.items;
      }

      const _getTracks = async (token, tracksEndPoint) => {

          const limit = 10;

          const result = await fetch(`${tracksEndPoint}?limit=${limit}`, {
              method: 'GET',
              headers: { 'Authorization' : 'Bearer ' + token}
          });

          const data = await result.json();
          return data.items;
      }

      const _getTrack = async (token, trackEndPoint) => {

          const result = await fetch(`${trackEndPoint}`, {
              method: 'GET',
              headers: { 'Authorization' : 'Bearer ' + token}
          });

          const data = await result.json();
          return data;
      }

      const _getArtist = async (token, artistName) => {
          // const queryP =  { q: 'artist:'+artistName, type: 'artist' }
          const artist = artistName.replace(" ","%20");
          const result = await fetch(`https://api.spotify.com/v1/search?q=artist:${artist}&type=artist`, {
              method: 'GET',
              headers: { 'Authorization' : 'Bearer ' + token}
          });
          const data = await result.json();
          return data;
      }

      return {
          getToken() {
              return _getToken();
          },
          getGenres(token) {
              return _getGenres(token);
          },
          getPlaylistByGenre(token, genreId) {
              return _getPlaylistByGenre(token, genreId);
          },
          getTracks(token, tracksEndPoint) {
              return _getTracks(token, tracksEndPoint);
          },
          getTrack(token, trackEndPoint) {
              return _getTrack(token, trackEndPoint);
          },
          getArtist(token, artistName){
            return _getArtist(token,artistName);
          }
        }
    })();
    
    </script>
    {% include "navbar.html" %}

    {% include "sidenav.html" %}


    <section>
      <div id="newm" class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        {% block content %}{% endblock %}
      </div>
    </section>

    <footer>
      <div id="aplayer">

      </div>
    </footer>









    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aplayer/1.10.1/APlayer.min.js" integrity="sha512-RWosNnDNw8FxHibJqdFRySIswOUgYhFxnmYO3fp+BgCU7gfo4z0oS7mYFBvaa8qu+axY39BmQOrhW3Tp70XbaQ==" crossorigin="anonymous"></script>
    <script src="{% static "js/main.js" %}"></script>
    {% block javascript %}

    {% endblock javascript %}
    <script src="{% static "js/aplayercha.js" %}"></script>

  </body>
</html>
