{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
        <a href="#" class="navbar-brand">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center justify-content-between" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item {{activate_product}}">
              <a class="nav-link" href="{% url 'admin_dashboard' %}">Home <span class="sr-only">Home(current)</span> </a>
            </li>
            <li class="nav-item {{activate_product}}">
              <a class="nav-link" href="{% url 'view_music' %}">Music <span class="sr-only">Add Music</span> </a>
            </li>
            <li class="nav-item {{activate_product}}">
              <a class="nav-link" href="{% url 'view_user' %}">Users <span class="sr-only">Add Users</span> </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-danger btn-sm mx-2 d-flex mr-auto" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary btn-sm mx-2 d-flex mr-auto" href="{% url 'all_songs' %}">User Page</a>
            </li>
          </ul>
        </div>

    </nav>
</header>
