{% include "mainpage.html" %}
{% block title %}
    <title>Admin-Dashboard</title>
{% endblock title %}

{% block css %}
    <style type="text/css">
        .card-body a{
            text-decoration: none;
            color: white;
        }
        .card-body a:hover{
            color: black;
        }
    </style>
{% endblock css %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <h6 class="success_message py-3 px_1 my-2 text-center">{{ message }}</h6>

    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <h6 class="error_message py-3 px_1 my-2 text-center">{{ message }}</h6>

    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width:35rem;">
                <div class="card-header text-center">Total Musics</div>
                <div class="card-body">
                    <h1 class="card-title text-center">{{music}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width:35rem;">
                <div class="card-header text-center">Total Playlists</div>
                <div class="card-body">
                    <h1 class="card-title text-center">{{playlist}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width:35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body">
                    <a href="#"><h1 class="card-title text-center">{{user}}</h1></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width:35rem;">
                <div class="card-header text-center">Total Admins</div>
                <div class="card-body">
                    <h1 class="card-title text-center">{{admin}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

